# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Secrets
.env
**/.env

# Builds
client/dist/

# Local uploads (generated at runtime)
server/uploads/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# PostgreSQL data directory if you ever created one
pgdata/